.admin-container {
    display: flex;
    min-height: 100vh;
}


.sidebar {
    width: 230px;
    position: fixed;
    height: 199vh;
    overflow-y: auto;
    background-color: #212529;
    /* same as bg-dark */
    color: white;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.sidebar h4 {
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}


.sidebar .nav-item {
    margin-bottom: 0.5rem;
}

.sidebar .nav-link {
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
}

.sidebar .nav-link:hover {
    background-color: #0d6efd;
    color: #fff;
}

.sidebar .active {
    background-color: #0d6efd;
    border-radius: 0.25rem;
}


.sidebar .logout {
    margin-top: 1rem;
    cursor: pointer;
    color: #dc3545;
    /* bootstrap danger */
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sidebar .logout:hover {
    opacity: 0.8;
}


.main-content {
    margin-left: 250px;
    padding: 30px;
    width: 100%;
}

/* Responsive */
@media (max-width: 425px) {
    .sidebar {
        height: 170vh;
        width: 210px;
    }
}

@media (max-width: 375px) {
    .sidebar {
        height: 169vh;
    }
}

@media (max-width: 320px) {
    .sidebar {
        height: 180vh;
    }
}